#companies {
    margin-top: 10rem;
    padding: 5rem 0;
    .slick-dots {
        display: none!important;
    }
    ul.slick-dots {
        display: none;
    
    }
    .slick-slide img {
        display: inline;
    }
}
