#features {
    margin-top: 16.125rem;
    height: 571px;
    @include for-tablet-landscape-up {
        height: 471px;
    }
    .container {
        .features-main {
            .first-img {
               
                
            }
            .second-img {
                z-index: 99;

                
            }
            .feature-third  {
                left: 5%;
                @include for-phone-only {
                    left: 50%;
                    @include transform-x-50;
                }
                @include for-tablet-landscape-up {
                    left: 50%;
                    @include transform-x-50;
                }
                
            }
           
        }
        .feature-right-item {
            @include for-phone-only {
                margin-top: 26rem;
               
            }
            @include for-tablet-landscape-up {
                .accordion-item {
                    padding-left: 5px!important;
                }
               
            }
        }
    }
}
.accordion-button:focus {
 
  box-shadow: none;
}
.accordion-button::after {
    display: none;
}
.accordion-button:not(.collapsed) {
   color: $app-primary;
   background-color: transparent;
}