#features {
    margin-top: 16.125rem;
    .container {
        .features-main {
            .first-img {
               
                
            }
            .second-img {
                z-index: 99;

                
            }
            .feature-third  {
                left: 5%;
                
            }
        }
    }
}
.accordion-button:focus {
 
  box-shadow: none;
}
.accordion-button::after {
    display: none;
}
.accordion-button:not(.collapsed) {
   color: $app-primary;
   background-color: transparent;
}