#organize {
    .container {
        h2 {
            margin: 8.125rem 0;
        }
        .organize-item {
            @include for-phone-only {
                text-align: center!important;
            }
        }
        .orgnize-phone {
            aside {
                z-index: -1;
            }
        }

    }
}