#work {
    @include for-phone-only {
        margin-top: 55rem!important;
    }
    @include for-tablet-landscape-up {
        margin-top: 15rem!important;
    }
    .container {
        .work-item {
            figure {
                img {

                }
                .work-shape {
                    img {
                        width: 150px;
                        height: 150px;
                    }
                  
                }
            }
        }
    }
}