#work {
    margin-top: 8.125rem;
    @include for-tablet-landscape-up {
        margin-top: 5rem;
    }
    @include for-phone-only {
        margin-top: 35rem;
    }
   
    .container {
        .work-item {
            figure {
                img {

                }
                .work-shape {
                    img {
                        width: 150px;
                        height: 150px;
                    }
                  
                }
            }
        }
    }
}